.about {
  padding: 0 @mobile-padding 80px;
  background-color: @color-darkblue;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  .border-radius();
}

.about__container {
  width: @mobile-width - @mobile-padding * 2;
  margin: 0 auto;
  padding-top: 45px;
  // Временно для сетки
  outline: 1px dashed red;
}

.about__description {
  padding: 0 35px 0 @mobile-padding;
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__text {
  .indent-reset();
  margin-bottom: 20px;

  &--bolder {
    margin-bottom: 0;
    font-weight: @font-bold;
  }
}

.about__button {
  display: none;
}

@media (min-width: @tablet-width) {
  .about {
    padding: 0 @tablet-padding;
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right 8px bottom 88px;
  }

  .about__container {
    width: @tablet-width - @tablet-padding * 2;
    padding-bottom: 88px;
  }

  .about__description {
    width: 310px;
    padding-left: 35px;
  }

  .about__subtitle {
    margin-bottom: 40px;
  }

  .about__text {
    margin-bottom: 35px;

    &--bolder {
      margin-bottom: 50px;
      .heading(@font-size: 21px, @line-height: 25px, @color: @color-white);
    }
  }

  .about__button {
    box-sizing: border-box;
    display: block;
    width: 274px;
    .heading(@color: @color-cobalt);
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding: 0 @desktop-padding;
    background-image: url("../img/about-desktop@1x.png");
    background-position: right 60px bottom;
  }

  .about__container {
    width: @desktop-width - @desktop-padding * 2;
    padding: 135px 0 153px;
  }

  .about__description {
    width: 620px;
    padding-left: 70px;
  }

  .about__subtitle {
    margin-bottom: 60px;
  }

  .about__text {
    margin-bottom: 40px;

    &--bolder {
      margin-bottom: 85px;
    }
  }

  .about__button {
    padding: 29px 40px 28px;
  }
}
