.about {
  background-color: @color-darkblue;
  .border-radius();

  &::after {
    content: "";
    position: absolute;
    bottom: 220px;
    left: -20px;
    z-index: -1;
    width: 132px;
    height: 132px;
    background-color: #141b3b;
    border-radius: 20px;
  }
}

.about__wrapper-inner {
  padding: 70px 0 60px;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 292px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }
}

.about__description {
  box-sizing: border-box;
  width: @mobile-width - @mobile-padding * 2;
  margin: 0 auto;
  padding: 0 35px 0 @mobile-padding;
}

.about__subtitle {
  .indent-reset();
  margin-bottom: 20px;
  .heading(@color: #ff8d30);
}

.about__text {
  .indent-reset();
  margin-bottom: 20px;

  &--bolder {
    margin-bottom: 0;
    font-weight: @font-bold;
  }
}

.about__button {
  display: none;
}

@media (min-width: @tablet-width) {
  .about {
    &::after {
      top: -45px;
      left: 5%;
      width: 90%;
      height: 213px;
    }
  }

  .about__container {
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right 6px bottom 90px;
    background-size: 376px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }
  }

  .about__wrapper-inner {
    width: @tablet-width - @tablet-padding * 2;
    margin: -144px auto;
    padding-top: 138px;
    padding-bottom: 88px;
    background-image: none;
  }

  .about__description {
    width: auto;
    padding: 0 352px 0 35px;
  }

  .about__subtitle {
    margin-bottom: 40px;
    .heading(45px, 45px, #ff8d30);
  }

  .about__text {
    margin-bottom: 35px;

    &--bolder {
      margin-bottom: 50px;
      .heading(21px, 25px, @color-white);
    }
  }

  .about__button {
    box-sizing: border-box;
    display: block;
    width: 274px;
    padding: 29px 40px 29px 33px;
    .heading();
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding: 0 @desktop-padding;

    &::after {
      display: none;
    }
  }

  .about__container {
    background-image: none;
  }

  .about__wrapper-inner {
    position: relative;
    width: @desktop-width - @desktop-padding * 2;
    margin-top: 0;
    padding: 130px 0 164px;
    background-image: url("../img/about-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 630px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }

    &::after {
      content: "";
      position: absolute;
      top: 70px;
      left: 0;
      z-index: -1;
      width: 213px;
      height: 213px;
      background-color: #141b3b;
      border-radius: 20px;
    }
  }

  .about__description {
    width: 690px;
    .indent-reset();
    padding-left: 70px;
  }

  .about__subtitle {
    margin-bottom: 60px;
  }

  .about__text {
    margin-bottom: 37px;

    &--bolder {
      width: 425px;
      margin-bottom: 87px;
    }
  }

  .about__button {
    padding: 27px 34px 28px;
  }
}
