.address {
  padding: 0 25px;
  font-style: normal;
  font-weight: @font-bold;
  color: @color-darkblue;
  background-color: @color-yellow;
  // Временно для сетки
  outline: 5px dashed green;
}

.address__wrapper {
  font: inherit;
}

.address__route {
  font-size: 18px;
  line-height: 18px;
  color: @color-cobalt;
  text-decoration: none;
}
