.catalog {
  padding: 0 25px;
  // Временно для сетки
  outline: 5px dashed green;
}

.catalog__container {
  width: 270px;
  margin: 0 auto;
  // Временно для сетки
  outline: 3px dashed red;
}

.catalog__list {
  .list-reset();
}

.catalog__item {
  font-size: 15px;
  line-height: 18px;
  color: @color-grey;
  background-color: @color-white;
  // Временно для сетки
  outline: 2px dotted green;
}

.catalog__name-link {
  text-decoration: none;
}

.catalog__name {
  .heading(20px, 20px, @color-cobalt);
}

.catalog__likes-amount {
  font-size: 14px;
  line-height: 21px;
  font-weight: @font-bold;
  color: @color-darknavy;
}

.catalog__subtitle {
  font-size: 15px;
  line-height: 18px;
  font-weight: @font-normal;
  text-transform: lowercase;
}

.catalog__sublist {
  .list-reset();
}

.catalog__subitem {
  font-weight: @font-medium;
  color: @color-cobalt;
  text-transform: uppercase;
}

.catalog__level-amount {
  font-size: 24px;
  font-weight: @font-bold;
  color: @color-cobalt;
}

.catalog__show-more {
  font-size: 17px;
  line-height: 30px;
  font-weight: @font-bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-cobalt;
}

.catalog__pagination-list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .catalog__container {
    width: 688px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__container {
    width: 1320px;
  }
}
