.catalog {
  width: @mobile-width - @mobile-padding * 2;
}

.catalog__list {
  .list-reset();
  margin-bottom: 24px;
}

.catalog__item {
  position: relative;
  margin-bottom: 10px;
  padding: 15px 0 75px;
  font-size: 15px;
  line-height: 18px;
  color: @color-grey;
  background-color: @color-white;
  border-radius: 18px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);

    .catalog__avatar {
      transform: scale(1.1);
    }
  }
}

.catalog__avatar-wrapper {
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.catalog__avatar {
  display: block;
}

.catalog__cover {
  display: flex;
  flex-direction: column;
  margin-left: -70px;
}

.catalog__hashtags {
  padding-left: 5px;
}

.catalog__name-link {
  order: -2;
  display: block;
  width: 105px;
  margin-left: 85px;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__name {
  position: relative;
  .indent-reset();
  .heading(20px, 20px);

  &::before {
    content: "";
    position: absolute;
    right: -40px;
    top: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &--offline {
    &::before {
      background-color: #f97676;
    }
  }

  &--online {
    &::before {
      background-color: #81e31e;
    }
  }
}

.catalog__likes-wrapper {
  order: -1;
  margin-bottom: 13px;
}

.catalog__likes {
  display: flex;
  align-items: center;
}

.catalog__likes-btn {
  position: relative;
  .indent-reset();
  width: 31px;
  height: 31px;
  margin-left: 45px;
  margin-right: 7px;
  background-color: @color-lightgrey;
  border: none;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 11px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    background-color: #e2e5f2;
    cursor: pointer;

    &::before {
      opacity: 0.5;
    }
  }

  &:active {
    &::before {
      opacity: 0.1;
    }
  }

  &--active {
    background-color: #f9eaea;

    &::before {
      background-image: url("../img/heart-active.svg");
    }

    &:hover,
    &:focus {
      background-color: #f9d8d8;

      &::before {
        opacity: 1;
      }
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }
}

.catalog__likes-amount {
  font-size: 14px;
  line-height: 21px;
  font-weight: @font-bold;
  color: @color-darknavy;
}

.catalog__subtitle {
  display: flex;
  align-items: center;
  flex-grow: 1;
  .indent-reset();
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: @font-normal;
  text-transform: lowercase;

  &::before,
  &::after {
    content: "";
    width: 14px;
    height: 1px;
    background-color: @color-lightgrey;
  }

  &::before {
    margin-right: 13px;
  }

  &::after {
    flex-grow: 1;
    margin-left: 11px;
  }
}

.catalog__sublist {
  .list-reset();
  margin: 0 0 15px 25px;
}

.catalog__subitem {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  padding-left: 40px;
  font-weight: @font-medium;
  color: @color-cobalt;
  text-transform: uppercase;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    width: 26px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &--shrilanka {
    &::before {
      background-image: url("../img/flag-sri-lanka.svg");
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flag-thailand.svg");
    }
  }

  &--seychelles {
    &::before {
      background-image: url("../img/flag-seychelles.svg");
    }
  }

  &--belgium {
    &::before {
      background-image: url("../img/flag-belgium.svg");
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flag-czech.svg");
    }
  }

  &--usa {
    &::before {
      background-image: url("../img/flag-usa.svg");
    }
  }

  &--australia {
    &::before {
      background-image: url("../img/flag-australia.svg");
    }
  }

  &--dominicana {
    &::before {
      background-image: url("../img/flag-dominica.svg");
    }
  }

  &--britain {
    &::before {
      background-image: url("../img/flag-united-kingdom.svg");
    }
  }

  &--germany {
    &::before {
      background-image: url("../img/flag-germany.svg");
    }
  }
}

.catalog__wrapper {
  display: flex;
  margin-bottom: 13px;
  padding: 0 20px;
}

.catalog__wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.catalog__transport-wrapper {
  flex-grow: 1;
}

.catalog__transport-list {
  display: flex;
  margin-left: 25px;
}

.catalog__level {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.catalog__level-amount {
  position: absolute;
  top: 28px;
  right: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding-left: 3px;
  font-size: 24px;
  font-weight: @font-bold;
  color: @color-cobalt;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #ff8d30;
    border-top-color: transparent;
  }

  &::before {
    transform: rotate(40deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &--lv80 {
    border-left-color: transparent;

    &::before {
      border-left-color: transparent;
      transform: rotate(80deg);
    }
  }

  &--lv25 {
    &::before {
      display: none;
    }

    &::after {
      border-color: @color-white;
      border-right-color: #ff8d30;
    }
  }

  &--lv50 {
    &::before {
      display: none;
    }

    &::after {
      border-color: @color-white;
      border-right-color: #ff8d30;
      border-bottom-color: #ff8d30;
    }
  }
}

.catalog__level-text {
  display: none;
}

.catalog__button {
  box-sizing: border-box;
  position: absolute;
  bottom: 22px;
  width: 230px;
  padding: 5px 10px;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: fade(@color-darknavy, 30%);
  }
}

.catalog__show-more {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 150px;
  margin: 0 auto 27px;
  padding-left: 33px;
  font-size: 17px;
  font-weight: @font-bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-cobalt;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/show-more-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
  background-color: @color-white;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: @color-lightgrey;
    transform: translateX(-50%);
  }
}

.catalog__pagination-link {
  position: relative;
  display: block;
  width: 50%;
  padding: 25px 0;
  text-align: center;
  text-decoration: none;

  &--prev,
  &--next {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 0.6;
      }
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }

  &--prev {
    &::before {
      background-image: url("../img/triangle-arrow-left.svg");
    }
  }

  &--next {
    &::before {
      background-image: url("../img/triangle-arrow-right.svg");
    }
  }

  &[href] {
    &:hover,
    &:focus {
      color: fade(@color-darknavy, 60%);
    }
  }
}

.catalog__pagination-wrapper {
  display: none;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: @tablet-width - @tablet-padding * 2;
  }

  .catalog__list {
    margin-bottom: 45px;
  }

  .catalog__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 35px 0 21px;
  }

  .catalog__wrapper {
    position: relative;
    display: flex;
    width: 490px;
    .indent-reset();
    margin-bottom: 20px;
    padding-left: 35px;
  }

  .catalog__avatar-wrapper {
    margin-right: 30px;
    border-radius: 15px;
  }

  .catalog__avatar {
    display: block;
    width: 190px;
    height: 190px;
  }

  .catalog__cover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin-left: 0;
  }

  .catalog__name-link {
    order: 0;
    width: auto;
    .indent-reset();
    margin-bottom: 15px;
  }

  .catalog__name {
    display: inline-block;
    margin: -2px 0 0 2px;
    font-size: 30px;
    line-height: 30px;

    &::before {
      top: 12px;
      right: -31px;
      width: 7px;
      height: 7px;
    }
  }

  .catalog__likes-wrapper {
    order: 0;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .catalog__likes-btn {
    width: 50px;
    height: 50px;
    margin-left: 0;

    &::before {
      width: 20px;
      height: 17px;
    }
  }

  .catalog__likes-amount {
    font-size: 20px;
    line-height: 30px;
  }

  .catalog__sublist {
    display: flex;
    margin: 0 0 0 36px;
  }

  .catalog__subtitle {
    margin-bottom: 18px;

    &--hidden {
      .visually-hidden();
    }

    &::before {
      width: 71px;
    }
  }

  .catalog__button {
    position: static;
    width: 148px;
    margin-top: auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 25px;
  }

  .catalog__wrapper-outer {
    width: 100%;
  }

  .catalog__subitem {
    font-size: 20px;
    line-height: 30px;
    margin: 0 28px 0 0;
    padding-left: 45px;

    &::before {
      width: 35px;
      height: 24px;
    }
  }

  .catalog__wrapper-inner {
    position: absolute;
    top: 33px;
    right: 29px;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .catalog__transport-wrapper {
    flex-grow: 0;
  }

  .catalog__transport-list {
    flex-direction: column;
    margin: 0;
  }

  .catalog__level {
    right: 50%;
    flex-direction: column-reverse;
    width: 54px;
    height: 54px;
    transform: translateX(50%);
  }

  .catalog__level-amount {
    top: 3px;
    right: 0;
    align-items: flex-start;
    width: inherit;
    height: inherit;
    padding-top: 11px;
    margin-top: 8px;

    &::before,
    &::after {
      width: inherit;
      height: inherit;
    }
  }

  .catalog__level-text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    display: block;
    width: 31px;
    font-size: 14px;
    line-height: 14px;
    color: fade(@color-grey, 40%);
    border-top: 1px solid @color-lightgrey;
    transform: translateX(-50%);
  }

  .catalog__show-more {
    width: 200px;
    margin-bottom: 50px;
    padding-left: 52px;
    font-size: 20px;
    line-height: 30px;

    &::before {
      width: 27px;
      height: 27px;
    }
  }

  .catalog__pagination {
    margin-bottom: 62px;
    padding: 24px 35px 25px 28px;

    &::before {
      display: none;
    }
  }

  .catalog__pagination-wrapper {
    order: -1;
    display: flex;
    margin-right: auto;
  }

  .catalog__pagination-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    .heading(20px, 30px, @color-darknavy);
    border-radius: 50%;

    &--prev,
    &--next {
      width: 10px;
      height: 20px;
    }

    &--next {
      margin-left: 33px;
    }

    &--active {
      background-color: @color-yellow;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 950px;
  }

  .catalog__list {
    margin-bottom: 65px;
  }

  .catalog__item {
    margin-bottom: 30px;
    padding: 0;
  }

  .catalog__wrapper {
    .indent-reset();
  }

  .catalog__avatar-wrapper {
    flex-shrink: 0;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .catalog__avatar {
    width: 285px;
    height: 285px;
  }

  .catalog__cover {
    position: relative;
    width: 290px;
    margin-left: 55px;
    padding: 47px 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 187px;
      background-image: linear-gradient(180deg, rgba(220, 220, 220, 0.1), rgba(220, 220, 220, 0.1) 15%, rgba(0, 0, 0, 0.1) 11%, rgba(0, 0, 0, 0.1) 80%, rgba(220, 220, 220, 0.1) 95%);
      transform: translateY(-50%);
    }
  }

  .catalog__name-link {
    margin-bottom: 18px;
  }

  .catalog__name {
    margin-left: 4px;

    &::before {
      left: -25px;
    }
  }

  .catalog__subtitle {
    .visually-hidden();
  }

  .catalog__sublist {
    margin: 0 0 auto;
    flex-direction: column;
  }

  .catalog__subitem {
    margin: 0 0 7px;
    padding-left: 54px;
  }

  .catalog__wrapper-inner {
    position: static;
    flex-direction: row;
    width: 100%;
    margin-left: -6px;
  }

  .catalog__wrapper-outer {
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-left: 184px;
    padding: 47px 0 45px;
  }

  .catalog__transport-list {
    flex-direction: row;

    .transport__item {
      margin-right: 2px;
    }
  }

  .catalog__level {
    top: -10px;
    right: 0;
    margin-left: 18px;
  }

  .catalog__show-more {
    width: 260px;
    margin-bottom: 68px;
  }

  .catalog__pagination {
    margin-bottom: 77px;
    padding-right: 44px;
  }

  .catalog__pagination-link {
    &--prev,
    &--next {
      &::before {
        transform: translate(-50%, -50%) scaleY(1.5);
      }
    }
  }
}
