.contact-list__link {
  font-weight: @font-bold;
  text-transform: uppercase;
  text-decoration: none;

  &--phone-top {
    color: @color-darkblue;
  }
  &--email-top {
    color: @color-darkblue;
  }
  &--phone-bottom {
    color: @color-yellow;
  }
  &--email-bottom {
    color: @color-yellow;
  }
}
