.feedback {
  padding: 45px 0 115px;
  background-color: @color-darknavy;
}

.feedback__container {
  width: @mobile-width - @mobile-padding * 2;
  margin: 0 auto;
}

.feedback__reviews {
  width: 170px;
  margin-left: @mobile-padding;
}

.feedback__quotation {
  .indent-reset();
}

.feedback__text {
  .indent-reset();
  margin-bottom: 20px;

  &--bolder {
    margin: 0;
    font-weight: @font-bold;
  }
}

.feedback__author {
  font-style: normal;
  font-weight: @font-bold;
}

@media (min-width: @tablet-width) {
  .feedback {
    padding: 0 0 140px;
    background-color: transparent;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1480px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  .feedback__container {
    width: @tablet-width - @tablet-padding * 2;
    padding: 88px 0 212px;
    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right 72px bottom;
    background-size: 372px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }
  }

  .feedback__reviews {
    width: 280px;
    margin-left: 35px;
  }

  .feedback__text {
    margin-bottom: 45px;
  }

  .feedback__author {
    display: block;
    width: auto;
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    .indent-reset();
    background-image: none;
  }

  .feedback__container {
    width: auto;
    margin: 0;
    padding: 0;
    background-image: none;
  }

  .feedback__reviews {
    width: 280px;
    margin: 12px 6px 0 auto;
  }
}
