.filter {
  margin-bottom: 24px;
  padding: 42px 0 15px;
  background-color: #e2e5f2;
  .border-radius();
}

.filter__container {
  position: relative;
  width: @mobile-width - @mobile-padding * 2;
  margin: 0 auto;

  &--nojs {
    .filter__btn {
      display: none;
    }
  }
}

.filter__title {
  .indent-reset();
  margin-bottom: 30px;
  padding-left: 27px;
  .heading(16px, 22px, @color-darkblue);
  text-transform: uppercase;
  background-image: url("../img/filter.svg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 15px 10px;
}

.filter__list {
  display: flex;
  flex-direction: column;
  width: 220px;
  .list-reset();
  margin: 0 auto;
}

.filter__item {
  margin-bottom: 10px;
}

.filter__continent {
  .heading(16px, 22px, @color-darkblue);
  color: fade(@color-darkblue, 30%);
  text-transform: uppercase;
  text-decoration: none;

  &--active {
    color: @color-darkblue;
  }
}

.filter__anchor {
  width: 220px;
  margin: 0 auto 23px;
}

.filter__anchor-list {
  display: flex;
  flex-wrap: wrap;
  .list-reset();
  border-top: 1px solid #cbced9;
  border-left: 1px solid #cbced9;
}

.filter__anchor-item {
  box-sizing: border-box;
  width: 20%;
  height: 42px;
}

.filter__anchor-link {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: @font-medium;
  text-decoration: none;
  color: @color-cobalt;
  background-color: @color-white;
  border-bottom: 1px solid #cbced9;
  border-right: 1px solid #cbced9;

  &--active {
    color: @color-white;
    background-color: @color-cobalt;
    border-color: @color-cobalt;
  }
}

.filter__alphabet {
  width: 220px;
  .list-reset();
  margin: 0 auto 20px;
}

.filter__letter {
  display: none;

  &--active {
    display: block;
  }
}

.filter__subtitle {
  display: none;
}

.filter__link {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: @color-cobalt;
}

.filter__sublist {
  .list-reset();
}

.filter__country {
  font-weight: @font-normal;
  color: @color-grey;
  text-decoration: none;
}

.filter__btn {
  .heading(16px, 30px, @color-darknavy);
  text-transform: uppercase;
  border: none;

  &--top {
    position: absolute;
    right: 7px;
    top: 10px;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 12px;
      height: 12px;
      background-image: url("../img/filter-close.svg");
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }

    .filter__text {
      .visually-hidden();
    }
  }

  &--bottom {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #d6daed;
    border-radius: 20px;

    .filter__text {
      margin-left: 12px;
    }
  }
}

.filter__close {
  width: 12px;
  height: 12px;
}

@media (min-width: @tablet-width) {
  .filter {
    padding: 120px 0 74px;
  }

  .filter__container {
    width: @tablet-width - @tablet-padding * 2;
  }

  .filter__title {
    display: none;
  }

  .filter__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 34px;
  }

  .filter__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 380px;
    margin: 0 0 70px;
  }

  .filter__anchor {
    width: auto;
    margin: 0 0 0 -25px;
  }

  .filter__anchor-list {
    justify-content: space-between;
    width: 410px;
    margin-bottom: 30px;
    border: none;
  }

  .filter__anchor-item {
    margin-bottom: 40px;
    height: auto;
  }

  .filter__anchor-link {
    display: inline-block;
    font-size: 60px;
    line-height: 1;
    font-weight: @font-bold;
    color: fade(@color-darkblue, 20%);
    text-align: center;
    background-color: transparent;
    border: none;

    &--active {
      color: @color-darkblue;
      background-color: transparent;
    }
  }

  .filter__alphabet {
    width: 175px;
    margin: 0 0 0 auto;
  }

  .filter__item {
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .filter__continent {
    font-size: 20px;
    line-height: 24px;
  }

  .filter__sublist {
    width: 175px;
  }

  .filter__country {
    font-size: 20px;
    line-height: 30px;
  }

  .filter__btn {
    font-size: 20px;

    &--top {
      top: 9px;
      right: 34px;
      padding: 0 83px 0 0;
      line-height: 24px;

      &::before {
        left: auto;
        right: 0;
        width: 18px;
        height: 18px;
      }

      .filter__text {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        white-space: normal;
        clip-path: none;
        clip: auto;
        overflow: visible;
      }
    }

    &--bottom {
      width: 618px;
      padding: 35px;

      .filter__text {
        margin-left: 21px;
      }
    }
  }

  .filter__close {
    width: 18px;
    height: 18px;
  }
}
