.form {
  padding-top: 50px;
  font-size: 16px;
  line-height: 22px;
  color: @color-grey;
}

.form__container {
  position: relative;
  width: @mobile-width - @mobile-padding * 2;
  margin: 0 auto;
}

.form__user-area {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.form__user-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.form__level {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  text-align: center;
}

.form__level-amount {
  position: relative;
  display: flex;
  justify-content: center;
  width: inherit;
  height: inherit;
  padding-top: 18px;
  font-size: 38px;
  line-height: 38px;
  font-weight: @font-bold;
  color: @color-cobalt;
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 3px solid #ff8d30;
    border-top-color: transparent;
  }

  &::before {
    transform: rotate(40deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &--lv80 {
    border-left-color: transparent;

    &::before {
      border-left-color: transparent;
      transform: rotate(80deg);
    }
  }
}

.form__level-text {
  position: absolute;
  left: 50%;
  bottom: 12px;
  display: block;
  width: 50px;
  padding-top: 5px;
  font-size: 18px;
  line-height: 22px;
  border-top: 2px solid #cbced9;
  transform: translateX(-50%);
}

.form__avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.form__button {
  box-sizing: border-box;
  display: block;
  width: inherit;
  margin: 20px 0 33px;
  padding: 5px;
  text-align: center;
  color: @color-darknavy;
  background-color: #dfe3f0;
  border: none;
}

.form__tags {
  position: relative;
  width: inherit;
  height: 90px;
  margin-bottom: 25px;
}

.form__subtitle {
  position: absolute;
  top: -8px;
  left: 50%;
  .indent-reset();
  padding: 0 18px;
  .heading(16px, 18px);
  background-color: @color-lightgrey;
  text-transform: uppercase;
  transform: translateX(-50%);

  &--transport {
    padding: 0 15px;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  .indent-reset();
  padding: 25px;
  font-size: 16px;
  line-height: 22px;
  color: @color-grey;
  background-color: transparent;
  border: 1px solid #cbced9;
  border-radius: 10px;
}

.form__transport {
  position: relative;
  width: inherit;
  margin-bottom: 30px;
}

.form__transport-wrapper {
  display: flex;
  justify-content: center;
  .indent-reset();
  padding: 15px 25px;
  border: 1px solid #cbced9;
  border-radius: 10px;
}

.transport__checkbox {
  .visually-hidden();
}

.transport__checkbox:focus + .transport__item {
  outline: 2px solid lightblue;
}

.transport__checkbox:checked + .transport__item .transport__icon {
  opacity: 1;

  &:hover {
    fill: #101e44;
  }
}

.form__plans {
  padding-top: 30px;
  background-color: #dfe3f0;
  .border-form();
}

.form__title {
  margin: 0  0 30px;
  .heading();
}

.form__list {
  .list-reset();
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  color: @color-cobalt;
}

.form__list-item {
  margin-bottom: 10px;
  padding: 25px;
  background-color: @color-white;
  border-radius: 10px;

  &:last-child {
    margin: 0;
  }
}

.form__countries {
  .indent-reset();
  margin-bottom: 20px;
  .heading(16px, 16px);
}

.form__wrapper {
  font-weight: @font-medium;
}

.form__travelmates-amount,
.form__period {
  .indent-reset();
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.form__period {
  margin-bottom: 25px;
}

.form__plans-change {
  font-weight: @font-medium;
  color: fade(#000000, 30%);
  text-decoration: none;
  text-transform: uppercase;
}

.form__editing {
  margin-bottom: -30px;
  padding: 30px 0 75px;
  .border-form();
  background-color: #d4d9eb;
}

.form__steps {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .form {
    padding-top: 94px;
    font-size: 20px;
    line-height: 24px;
  }

  .form__container {
    width: @tablet-width - @tablet-padding * 2 - 70px;
  }

  .form__user-area {
    justify-content: center;
    margin-bottom: 60px;
  }

  .form__level {
    width: 94px;
    height: 94px;
  }

  .form__avatar {
    width: 94px;
    height: 94px;
    border-radius: 4px;
  }

  .form__button {
    margin: 52px 0 50px;
    padding: 15px;
    border-radius: 10px;
  }

  .form__subtitle {
    top: auto;
    bottom: -8px;
    font-size: inherit;
    font-weight: @font-medium;
  }

  .form__tags {
    margin: 0;
    height: 94px;
  }

  .form__textarea {
    padding: 35px 40px 0;
    font-size: inherit;
  }

  .form__transport {
    order: -1;
    width: 308px;
    margin-bottom: -95px;

    .transport__item {
      width: 43px;
      height: 43px;
      background-color: @color-white;
    }
  }

  .form__transport-wrapper {
    padding: 25px;
  }

  .form__plans {
    padding-top: 50px;
  }

  .form__title {
    margin-bottom: 50px;
    .heading(36px, 50px);
  }

  .form__list {
    margin-bottom: 74px;
  }

  .form__list-item {
    padding: 27px 0 0;
  }

  .form__countries {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .indent-reset();
    padding: 0 32px 20px 37px;
    .heading(24px, 50px);
  }

  .form__wrapper {
    display: flex;
    align-items: center;
    padding: 20px 36px 20px 33px;
    font-size: 20px;
    border-top: 1px solid #eff0f4;
  }

  .form__travelmates-amount {
    width: 185px;
  }

  .form__period {
    margin: 0;
  }

  .form__plans-change {
    margin-left: auto;
  }

  .form__editing {
    padding-top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding-top: 0;
  }

  .form__container {
    position: static;
    width: @desktop-width - @desktop-padding * 2;
  }

  .form__user-area {
    justify-content: space-between;
    padding-left: 64px;
  }

  .form__user-photo {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 95px;
  }

  .form__level {
    position: absolute;
    top: 43px;
    right: 235px;
  }

  .form__level-amount {
    color: @color-white;
  }

  .form__level-text {
    color: @color-white;
  }

  .form__avatar {
    width: 190px;
    height: 190px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form__button {
    width: 190px;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form__tags {
    width: 730px;
  }

  .form__tags .form__subtitle {
    left: 63px;
  }

  .form__transport {
    order: 0;
    width: 384px;
    margin-bottom: 0;
  }

  .form__title {
    margin-left: 73px;
  }

  .form__list {
    margin: 0  0 64px 64px;
  }

  .form__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 25px 42px 25px 44px;
  }

  .form__countries {
    flex-direction: row;
    justify-content: flex-start;
    width: 566px;
    .indent-reset();
  }

  .form__counter {
    margin-right: 40px;
  }

  .form__wrapper {
    display: flex;
    width: 630px;
    .indent-reset();
    border: none;
  }

  .form__plans-change {
    margin-left: auto;
  }
}
