.intro {
  padding: 0 25px;
  background-color: @color-darknavy;
  background-image:
    url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  outline: 5px dashed green;
}

.intro__title {
  .heading(36px, 40px, @color-white);
}
