.page-footer {
  padding: 38px 0 14px;
  color: @color-grey;
  background-color: @color-white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: @mobile-width - @mobile-padding * 2;
  margin: 0 auto;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.page-footer__copyright {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  .indent-reset();
  padding-top: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 48px 0 46px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
  }

  .page-footer__container {
    width: @tablet-width - @tablet-padding * 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__social {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: auto;
    padding-top: 0;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  .page-footer__container {
    width: @desktop-width - @desktop-padding * 2;
  }
}
