.page-main {
  background-color: @color-darkblue;
}

.page-main__about {
  position: relative;
  z-index: 6;
}

.page-main__countries {
  position: relative;
  z-index: 5;
  margin-top: -30px;
}

.page-main__travelmates {
  position: relative;
  z-index: 4;
  margin-top: -30px;
}

.page-main__rates {
  position: relative;
  z-index: 3;
  margin-top: -30px;
}

.page-main__signin {
  position: relative;
  z-index: 2;
  margin-top: -30px;
}

.page-main__address {
  position: relative;
  z-index: 1;
  margin-top: -30px;
}

.page-main__map {
  margin: -35px 0;
}

@media (min-width: @tablet-width) {
  .page-main {
    background-color: #182044;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top 199px;
    background-size: 1479px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  .page-main__intro {
    margin-bottom: 85px;
  }

  .page-main__about {
    padding-top: 1px;
  }

  .page-main__countries {
    margin-top: -60px;
  }

  .page-main__travelmates {
    margin-top: -55px;
  }

  .page-main__rates {
    margin-top: -55px;
  }

  .page-main__signin {
    margin-top: -55px;
  }

  .page-main__address {
    margin-top: -55px;
  }

  .page-main__map {
    margin: -55px 0;
  }
}

@media (min-width: @desktop-width) {
  .page-main__travelmates {
    margin-top: -60px;
  }

  .page-main__rates {
    margin-top: -60px;
  }

  .page-main__address {
    margin-top: -60px;
  }

  .page-main__signin {
    margin-top: -60px;
  }

  .page-main__map {
    margin: -60px 0;
  }
}
