.page-header {
  background-color: @color-darknavy;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-color: #182044;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 49px @desktop-padding 0;
  }
}
