.page-inner {
  padding-bottom: 240px;
}

.page-inner__header {
  background-color: @color-darknavy;
  .border-radius();
}

.page-inner__container {
  width: @mobile-width - @mobile-padding * 2;
  margin: 0 auto;
}

.page-inner__title {
  margin: 0;
  .heading(36px, 40px, @color-white);
}

@media (min-width: @tablet-width) {
  .page-inner__container {
    width: @tablet-width - @tablet-padding * 2;
    padding-left: 35px;
  }
}

@media (min-width: @desktop-width) {
  .page-inner__container {
    width: @desktop-width - @desktop-padding * 2;
    padding-left: 70px;
  }
}
