.page-inner {
  // Временно для сетки
  outline: 3px solid red;
}

.page-inner__header {
  background-color: @color-darknavy;
  .border-radius();
  // Временно для сетки
  outline: 5px dashed green;
}

.page-inner__container {
  width: 270px;
  margin: 0 auto;
}

.page-inner__title {
  margin: 0;
  .heading(36px, 40px, @color-white);
}

@media (min-width: @tablet-width) {
  .page-inner__container {
    width: 688px;
    padding-left: 35px;
  }
}

@media (min-width: @desktop-width) {
  .page-inner__container {
    width: 1320px;
    padding-left: 70px;
  }
}
