.rates {
  padding: 0 25px;
  background-color: @color-lightgrey;
  // Временно для сетки
  outline: 5px dashed green;
}

.rates__list {
  color: @color-grey;
}

.rates__toggle {
  font-weight: @font-bold;
  line-height: 16px;
  color: @color-darkblue;
  text-decoration: none;
}

.rates__modal {
  background-color: @color-white;
}

.rates__offer-list {
  color: @color-grey;
}
