.signin {
  padding: 102px @mobile-padding 30px;
  text-align: center;
  background-color: @color-darkblue;
  .border-radius();
}

.signin__container {
  width: 270px;
  margin: 0 auto;
}

.signin__title {
  .indent-reset();
  margin-bottom: 18px;
  .heading(@color: #ff8d30);
}

.signin__text {
  padding: 0 35px 20px;
  margin: 0 0 9px;
}

.signin__extra-text {
  display: none;
}

.signin__link {
  display: inline-block;
  color: @color-yellow;

  &:hover,
  &:focus {
    color: #ff8d30;
    border-color: #ff8d30;
  }

  &:active {
    color: #ff8d30;
    border-color: #ff8d30;
    opacity: 0.3;
  }
}

.signin__form {
  position: relative;
  margin-bottom: 27px;
}

.signin__list {
  margin-top: -10px;
}

.signin__label {
  position: absolute;
  left: 23px;
  top: 50%;
  .heading(18px, 18px, fade(@color-grey, 30%));
  transform: translateY(-50%);
}

.signin__email {
  box-sizing: border-box;
  width: 100%;
  padding: 21px 100px 21px 25px;
  font-size: 18px;
  line-height: 18px;
  font-weight: @font-bold;
  border: none;
  border-radius: 10px;

  &:hover {
    background-color: @color-lightgrey;

    + .signin__label {
      color: fade(@color-grey, 50%);
    }
  }

  &:focus {
    padding: 17px 100px 17px 25px;
    color: @color-white;
    background-color: transparent;
    border: 4px solid @color-white;
    outline: none;

    + .signin__label {
      display: none;
    }
  }
}

.signin__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  padding: 0;
  border: none;

  &:focus {
    outline: none;
  }

  &::before {
    left: 32px;
    transform: translate(-50%, -50%);
  }
}

.signin__reg {
  .visually-hidden();
}

@media (min-width: @tablet-width) {
  .signin {
    padding: 127px @tablet-padding 60px;
  }

  .signin__container {
    box-sizing: border-box;
    width: @tablet-width - @tablet-padding * 2;
    padding: 0 35px;
  }

  .signin__title {
    margin-bottom: 60px;
    .heading(45px, 45px, #ff8d30);
  }

  .signin__text {
    .indent-reset();
    margin-bottom: 64px;
  }

  .signin__form {
    margin-bottom: 55px;
  }

  .signin__email {
    padding: 27px 100px 27px 35px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;

    &:focus {
      padding: 23px 100px 23px 35px;
    }
  }

  .signin__label {
    left: 35px;
    font-size: 24px;
  }

  .signin__button {
    width: 82px;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &::before {
      left: 41px;
    }
  }

  .signin__list {
    margin-top: -23px;
  }
}

@media (min-width: @desktop-width) {
  .signin {
    padding: 163px @desktop-padding 104px;
  }

  .signin__container {
    width: @desktop-width - @desktop-padding * 2;
    padding: 0 72px;
  }

  .signin__title {
    margin-bottom: 58px;
  }

  .signin__text {
    margin-bottom: 60px;
  }

  .signin__form {
    margin-bottom: 64px;
  }

  .signin__button {
    width: 325px;
    padding-left: 34px;
    .heading();
    text-align: left;

    &::before {
      left: auto;
      right: 33px;
    }
  }

  .signin__list {
    margin-top: -15px;
  }

  .signin__main-text {
    display: none;
  }

  .signin__extra-text {
    display: inline;
  }

  .signin__reg {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    white-space: normal;
    clip-path: inset(0%);
    clip: auto;
    overflow: auto;
  }

  .signin__list .contact-list__item {
    &:first-child {
      margin-right: 111px;
    }
  }
}
