.transport {
  .list-reset();
}

.transport__item {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: @color-lightgrey;

  &--active .transport__icon {
    opacity: 1;
  }
}

.transport__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: @color-cobalt;
  opacity: 0.15;
}

@media (min-width: @tablet-width) {
  .transport__item {
    background-color: transparent;
  }

  .transport__icon {
    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--bike {
      width: 24px;
      height: 21px;
    }

    &--run {
      width: 20px;
      height: 21px;
    }
  }
}
