.transport {
  .list-reset();
}

.transport__item {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: @color-lightgrey;

  svg {
    position: absolute;
    left: 50%;
    top: 50;
    transform: translate(-50%, 50%);
    fill: @color-cobalt;
    opacity: 0.15;
  }

  &--active svg {
    opacity: 1;
  }
}

@media (min-width: @tablet-width) {
  .transport__item {
    background-color: transparent;

    &--plane svg {
      width: 19px;
      height: 21px;
    }

    &--bus svg {
      width: 17px;
      height: 21px;
    }

    &--bike svg {
      width: 24px;
      height: 21px;
    }

    &--run svg {
      width: 20px;
      height: 21px;
    }
  }
}
