.travelmates {
  background-color: @bg-optional;
  background-image: url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
}

.travelmates__wrapper {
  background-image: url("../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat;
}
