.travelmates {
  padding: 102px @mobile-padding 30px;
  background-color: @color-darkblue;
  background-image:
    url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position:
    right @mobile-padding top 70px,
    left -10px top 340px;
  background-size:
    143px 143px,
    71px 71px;
  .border-radius();

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image:
      url("../img/smolov-back-desktop@2x.png"),
      url("../img/rogovaya-back-mobile@2x.png");
  }
}

.travelmates__container {
  width: @mobile-width - @mobile-padding * 2;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    left: -19px;
    top: 70px;
    z-index: -1;
    width: 132px;
    height: 132px;
    background-color: #141b3b;
    border-radius: 20px;
  }
}

.travelmates__wrapper {
  margin-bottom: 55px;
  padding: 0 @mobile-padding;
  background-repeat: no-repeat;
}

.travelmates__subtitle {
  position: relative;
  z-index: 3;
  .indent-reset();
  margin-bottom: 20px;
  .heading(@color: #ff8d30);
}

.travelmates__text {
  .indent-reset();
  margin-bottom: 20px;

  &--bolder {
    font-weight: @font-bold;
  }
}

.travelmates__list {
  .list-reset();
  margin-bottom: 20px;
  color: @color-grey;
}

.travelmates__item {
  position: relative;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  z-index: 1;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);

    .travelmates__avatar {
      transform: scale(1.1);
    }
  }
}

.travelmates__avatar {
  display: block;
  height: auto;
}

.travelmates__item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px @mobile-padding 22px;
  background-color: @color-white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.travelmates__name-link {
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.travelmates__name {
  position: relative;
  .indent-reset();
  margin-bottom: 15px;
  .heading(21px, 21px);

  &::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &--offline {
    &::before {
      background-color: #f97676;
    }
  }

  &--online {
    &::before {
      background-color: #81e31e;
    }
  }
}

.travelmates__level {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: @color-white;
  border-radius: 50%;
  border: 3px solid #ff8d30;
  border-top-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #ff8d30;
    border-top-color: transparent;
  }

  &::before {
    transform: rotate(40deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &--lv80 {
    border-left-color: transparent;

    &::before {
      border-left-color: transparent;
      transform: rotate(80deg);
    }
  }
}

.travelmates__level-amount {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 24px;
  font-weight: @font-bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.travelmates__level-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: @font-normal;
}

.travelmates__sublist {
  order: -1;
  display: flex;
  justify-content: center;
  .list-reset();
  margin: -40px 0 15px;
}

.travelmates__subitem {
  position: relative;
  display: block;
  width: 35px;
  height: 24px;
  margin-right: 19px;
  background-size: 100%;

  &:last-child {
    margin: 0;
  }

  &--shrilanka {
    background-image: url("../img/flag-sri-lanka.svg");
  }

  &--thailand {
    background-image: url("../img/flag-thailand.svg");
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles.svg");
  }

  &--belgium {
    background-image: url("../img/flag-belgium.svg");
  }

  &--czech {
    background-image: url("../img/flag-czech.svg");
  }

  &:hover {
    .travelmates__country {
      display: block;
    }
  }
}

.travelmates__country {
  position: absolute;
  top: 30px;
  left: 50%;
  display: none;
  min-width: 100px;
  padding: 10px;
  .heading(20px, 24px, @color-white);
  font-weight: @font-normal;
  text-align: center;
  background-color: #101d41;
  border-radius: 4px;
  transform: translateX(-50%);

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: inherit;
    transform: translateX(-50%) rotate(45deg);
  }
}

.travelmates__hashtags {
  margin-bottom: 15px;
}

.travelmates__hashtags .hashtags__list {
  justify-content: center;
}

.travelmates__transport-list {
  display: flex;

  .transport__item {
    background-color: transparent;
  }

  .transport__icon {
    height: 21px;

    &--plane {
      width: 19px;
    }

    &--bus {
      width: 17px;
    }

    &--bike {
      width: 24px;
    }

    &--run {
      width: 20px;
    }
  }
}

@media (min-width: @tablet-width) {
  .travelmates {
    padding: 55px @tablet-padding 88px;
    background-image: none;
  }

  .travelmates__container {
    position: relative;
    box-sizing: border-box;
    width: @tablet-width - @tablet-padding * 2;
    padding: 135px 35px 0;
    background-image:
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position:
      left 0 top 426px,
      right 35px top 90px;
    background-size:
      143px auto,
      285px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image:
        url("../img/smolov-back-desktop@2x.png"),
        url("../img/rogovaya-back-desktop@2x.png");
    }

    &::before {
      top: 90px;
      left: 0;
      width: 213px;
      height: 213px;
    }
  }

  .travelmates__wrapper {
    width: 430px;
    margin-bottom: 60px;
    padding: 0;
  }

  .travelmates__subtitle {
    margin-bottom: 60px;
    .heading(45px, 45px, #ff8d30);
  }

  .travelmates__text {
    margin-bottom: 40px;

    &--bolder {
      .heading(21px, 25px, @color-white);
    }
  }

  .travelmates__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .travelmates__item {
    width: 285px;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .travelmates__avatar {
    width: 100%;
  }

  .travelmates__item-wrapper {
    padding: 32px 25px 29px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .travelmates__name {
    .heading();
  }

  .travelmates__sublist {
    margin-top: -45px;
  }

  .travelmates__to-all {
    .heading();
  }
}

@media (min-width: @desktop-width) {
  .travelmates {
    padding: 195px @desktop-padding 0;
  }

  .travelmates__container {
    display: flex;
    flex-wrap: wrap;
    width: @desktop-width - @desktop-padding * 2;
    padding: 0 0 135px;
    background-position:
      left 485px top,
      left 131px top 250px;
    background-size:
      143px auto,
      285px auto;

    &::before {
      top: -60px;
    }
  }

  .travelmates__wrapper {
    width: 430px;
    margin-left: 70px;
  }

  .travelmates__list {
    width: 630px;
    margin-left: auto;
    margin-bottom: -81px;
  }

  .travelmates__to-all {
    box-sizing: border-box;
    min-width: 280px;
    padding: 27px 40px 30px 35px;
    margin-left: 70px;
  }
}
