.border-radius() {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  @media (min-width: @tablet-width) {
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
  }

  @media (min-width: @desktop-width) {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}
